p{
    color: #F3F4F6;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0;
}
#daftar-siswa{
    background-color: gainsboro;
}
#daftar-siswa :hover{
    color: #111827;
    background-color: #e5e7eb;
}
.siswa{
    padding: 10px 15px;
}
p:hover{
    color: #111827;
}